{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "env": {
        "browser": true
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "max-len": ["error", 120],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/function-component-definition": "off",
        "no-param-reassign": "off"
    }
} 
